@{
    ViewData["Title"] = "Getting extension info";
}
@section Scripts
{
    <script type="text/javascript">
        if (window.OnChromeVersion) {
            window.location = "/?extensionVersion=" + window.OnChromeVersion;
        } else {
            window.location = "/?missingExtension=True";
        }
    </script>
}

<div class="text-center">
    <h1 class="display-4">OnChrome native application</h1>
    <p>Fetching extension info...</p>
</div>
